* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Iranian Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'Iranian Sans';
  src: url(../public/assets/font/iran-sans/Iranian\ Sans.ttf);
}